<!DOCTYPE html>
<html>
    <head>
        <title>Proof of Concept</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <script type="text/javascript" src="/javascripts/genePool.js"></script>
        <script type="text/javascript" src="/javascripts/testing.js"></script>
    </head>
    <body>
        <h1>Proof of Concept</h1>

        <p> Push f5 to refresh and rerun test.</p>
        <iframe src="/embed" height="200" width="300"></iframe>
        <canvas id="mom" width="200" height="300">

        </canvas>
        <canvas id="dad" width="200" height="300">

        </canvas>
        <br>
        <canvas id="child1" width="200" height="300">

        </canvas>
        <canvas id="child2" width="200" height="300">

        </canvas>
        <canvas id="child3" width="300" height="300">

        </canvas>
    </body>
</html>