<!doctype html>
    <html>
        <head>
            <script type="text/javascript" src="/javascripts/genePool.js"></script>
            <script type="text/javascript" src="/javascripts/testing.js"></script>
        </head>
        <body>
        <script type="text/javascript">
            <!--
            test();
            //-->
        </script>
        </body>
</html>