<!doctype html>
    <html>
        <head>
            <link rel='stylesheet' href='/stylesheets/style.css' />
            <script type="text/javascript" src="/javascripts/genePool.js"></script>
            <script type="text/javascript" src="/javascripts/testing.js"></script>
        </head>
        <body>
            <!-- todo: use global variable to  refreshing js script-->
            <input type="button" onclick="test()" value="Test">
        </body>
</html>