<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script type="text/javascript" src="/javascripts/genePool.js"></script>
        <script type="text/javascript" src="/javascripts/testing.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p> Push f5 to refresh and get testing button again.</p>
    <br>
    <iframe src="/embed" height="200" width="300"></iframe>
  </body>
</html>
