<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script type="text/javascript" src="/javascripts/geneticsLibrary/genePool.js"></script>
        <script type="text/javascript" src="/javascripts/testing.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <input type="button" onclick="test()" value="Test">
  </body>
</html>
