<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p> Click a link for iteration of each test.</p> <br>
    <a href="/conceptProof">Proof of Concept</a>
  </body>
</html>
